*

# allow sources
!tsconfig.json
!src
!LICENSE

# allow yarn files
!package.json
!.yarnrc.yml
!yarn.lock
!.pnp.js
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
